<{if !empty($findone)}>
<div style="float:right;margin-bottom:10px">
	<div class="container">
		<div id="example" class="modal hide fade in" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>警告</h3>
			</div>
			<div class="modal-body">
				<h4>确认删除这篇文章吗？</h4>
			</div>
			<div class="modal-footer">
				<a href="<{url c='kmblog/km' a='delete' id=$findone["article_id"]}>" class="btn btn-success">删除</a>
				<a href="#" class="btn" data-dismiss="modal">取消</a>
			</div>
		</div>
	<a href="<{url c='kmblog/km' a='index'}>" class="btn btn-primary">返回</a>
		<div style="float:right">
		
		<a href="<{url c='kmblog/km' a='update' id=$findone["article_id"]}>" class="btn btn-primary">修改内容</a>
		<a data-toggle="modal" href="#example" class="btn btn-primary">删除</a>
</div>
	</div>

</div>

<table class="table">
		<tr>
			<td>
			<h3><{$findone["article_name"]}></h3>
			文章类别
			<div style="float:right"><?php echo '最后修改时间：'.date("Y-m-d H:i:s",$findone["article_time"]);?></div>
			</td>
		</tr>
		<tr>
			<td><{$findone["article_content"]}></td>
		</tr>
</table>
<{else}>
<p>没有结果！</p>
<{/if}>
<p>
	<a href="<{url c='kmblog/km' a='index'}>" class="btn btn-primary">返回</a>
</p>