<a href="<{url c='main' a='index'}>"><h4>回首页</h4></a>
<a href="<{url m='kmblog' c='km' a='add'}>">写新文章</a>
<div style="float:right">
<input id="title" type="text">
<a href="<{url m='kmblog' c='km' a='find'}>">查找</a>
</div>
<h3>文章列表</h3>
<{if !empty($findall)}>
<table class="table">
	<{foreach $findall as $k => $v}>
	<tr>
		<td>
			<{$v["article_id"]}> .<a href="<{url m='kmblog' c='km' a='find' id=$v["article_id"]}>"> <{$v["article_name"]}></a>
			<div style="float:right"><?php echo date("Y-m-d H:i:s",$v["article_time"]);?></div>				
		</td>
	</tr>
	<{/foreach}>
</table>
<{else}>
<p>没有结果！</p>
<{/if}>